# Because of gbk encoding error, the comments are changed to English.
# recommend to use python 3.11

pyqt5>=5.15.11
pyqt5-qt5>=5.15.2
pyqt5-sip>=12.17.0

# Core dependency (integrated into nagaagent-core)
nagaagent-core>=1.0.9

# All runtime dependencies have been migrated into nagaagent-core.
# If you need to pin extra versions locally, append them below.
simpleaudio
pydub